.area_title{
    padding: 2px 5px;
    background-color: #D8D8D8;
    font-weight: bold;
    cursor: move;
    text-align: center;
    white-space: nowrap;
}

.user_box{
    color: #fff;
    background-color: #000;
    border: 0px solid #f00;
    margin: 1px 0px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: move;
    white-space: nowrap;
}

.delete_area{
    height:28px;
    display:block;
    margin-top:30px;
    background-color:#D8D8D8;
    text-align:center;
    padding-top:10px;
    color:#959595;
    cursor:default;
}

.delete_area:hover{
    background-color: #D46A6A;
    color: #ffffff;
}

.dialogbox_gruppe{
    height: 565px;
    width: 820px;
    border: 1px solid #000;
    background-color: #E6E6E6;
    left: 50%;
    margin-left: -350px;
    position: fixed;
    z-index: 1;
    border-radius: 10px;
}

.gruppe_gesamt{
    width: 310px;
    height: 521px;
    float: left;
}

.div_gruppe{
    background-color: #B9B9B9;
    width: 150px;
    height: 124px;
    text-align: center;
    border: 1px solid #B9B9B9;
    float: left;
    margin-left: 1px;
    font-weight: bold;
}

.gruppe_element{
    height: 20px;
    width: 100%;
    background-color: #E6E6E6;
    float: left;
    border-top: 1px solid #B9B9B9;
}

.gruppe_userliste{
    float: left;
    width: 200px;
    height: 517px;
    background-color: #E6E6E6;
    border: 1px solid #B9B9B9;
    overflow-y: auto;
}

.gruppe_element_user{
    height: 18px;
    width: 145px;
    float: left;
    border-top: 1px solid #B9B9B9;
    font-weight: normal;
    text-align: left;
    padding-left: 5px;
    padding-top: 2px;
    cursor: move;
}

.gruppe_element_full{
    height: 20px;
    width: 100%;
    background-color: #E6E6E6;
    float: left;
    border-top: 1px solid #B9B9B9;
}

.gruppe_bossliste{
    float: left;
    margin-left: 10px;
    background-color: #E6E6E6;
    border: 1px solid #B9B9B9;
    overflow-y: auto;
}

.raidplan_item_edit{
    min-width: 300px;
}

.raidplan_item_edit:hover{
    font-weight: bold;
}

.add_planer_item{
    border: 1px solid #000;
    border-radius: 9px;
    height: 18px;
    width: 18px;
    cursor: pointer;
    background-color: #B2E39B;
}

.add_planer_item:hover{
    background-color: #5EA43D;
}

.taktik_main{
    border: 0px solid #f00;
    height: 500px;
    width: 252px;
    right: 0px;
    position: fixed;
    margin-top: 120px;
    z-index: 1;
}

.switcher{
    border: 3px solid #e2b007;
    background-color: #E6E6E6;
    height: 30px;
    width: 30px;
    float: right;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 3px;
    cursor: pointer;
}

.taktik_box{
    border: 3px solid #e2b007;
    border-radius: 7px;
    background-color: #282828;
    height: 500px;
    width: 200px;
    float: right;
    padding: 5px;
}

.taktik_hover:hover{
    background-color: #626262;
    cursor: pointer;
}
