body{
    font-family: arial;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("wallpaper.jpg");
    background-color: #000000;
}

.userliste{
    border: 3px solid #e2b007;
    border-radius: 7px;
    width: 200px;
    float: left;
    height: 768px;
    display: none;
    position: relative;
    overflow-y: auto;
    background-color: #E6E6E6;
}

.main{
    border: 3px solid #e2b007;
    border-radius: 7px;
    width: 1024px;
    float: left;
    height: 768px;
    margin-left: 20px;
    margin-right: 20px;
    display: none;
    position: relative;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

.area{
    position: absolute;
    border: 1px solid #0B3861;
    border-radius: 5px;
    min-height: 50px;
    background-color: #fff;
}

.area_title{
    padding: 2px 5px;
    background-color: #D8D8D8;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.user_box{
    color: #fff;
    background-color: #000;
    border: 0px solid #f00;
    margin: 1px 0px;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
}

.loginfenster{
    float: right;
    text-align: center;
    padding: 5px;
    background-color: #E6E6E6;
    border: 2px solid #000;
    border-radius: 5px;
}

.registerfenster{
    float: right;
    padding: 5px;
    background-color: #E6E6E6;
    border: 2px solid #000;
    border-radius: 5px;
    display: none;
}

.auswahlfenster{
    float: left;
    padding: 5px;
    background-color: #E6E6E6;
    border: 2px solid #000;
    border-radius: 5px;
}

.sort_up{
    cursor: pointer;
    background-image: url("up.png");
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 3px;
}

.sort_up:hover{
    background-image: url("up_hover.png");
}

.sort_down{
    cursor: pointer;
    background-image: url("down.png");
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 3px;
}

.sort_down:hover{
    background-image: url("down_hover.png");
}

.r_button{
    padding: 5px;
    background-color: #E6E6E6;
    border: 2px solid #000;
    border-radius: 5px;
}

.r_button:hover{
    background-color: #B9B9B9;
    cursor: pointer;
}

.info_div{
    float:left;
    margin-left: -20px;
}

.info_tank{
    border: 0px solid #000;
    background: url("./symbole/tank.png");
    height: 70px;
    width: 70px;
    cursor: pointer;
}

.info_tank:hover{
    background: url("./symbole/tank_hover.png");
}

.info_heal{
    border: 0px solid #000;
    background: url("./symbole/heal.png");
    height: 70px;
    width: 70px;
    cursor: pointer;
}

.info_heal:hover{
    background: url("./symbole/heal_hover.png");
}

.info_damage{
    border: 0px solid #000;
    background: url("./symbole/damage.png");
    height: 70px;
    width: 70px;
    cursor: pointer;
}

.info_damage:hover{
    background: url("./symbole/damage_hover.png");
}

.dialogbox_info{
    height: auto;
    min-height: 300px;
    width: 400px;
    border: 1px solid #000;
    background-color: #E6E6E6;
    left: 50%;
    margin-left: -200px;
    position: fixed;
    z-index: 1;
    display: none;
    border-radius: 10px;
    margin-top: 5px;
    z-index: 10;
}

.close_dialog{
    width: 100%;
    height: 23px;
    margin-top: 0px;
    background-color: #B9B9B9;
    cursor: move;
    text-align: right;
    border-radius: 7px;
}

.x_button{
    background-color: #f00;
    color: #fff;
    font-size: 21px;
    cursor: pointer;
    padding: 0px 5px;
    border-radius: 7px;
}

.info_vorhanden{
    height: 16px;
    width: 16px;
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #ff0;
    font-weight: bold;
    text-align: center;
}

.a_link{
    color: #1647A7;
    font-weight: bold;
}

.a_link:hover{
    color: #FB4309;
}

.boss_controll{
    cursor: pointer;
}

.raidplan_item{
    cursor: pointer;
    min-width: 300px;
}

.raidplan_item:hover{
    font-weight: bold;
}

.taktik_area{
    position: absolute;
}

.raidplaner_marker{
    font-weight: bold;
    border: 2px solid #000;
    background-color: #ff0 !important;
}

a{
    font-weight: bold;
    color: #2E64FE;
}

a:hover{
    color: #FA5858;
}

.addon_button{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.create_link{
    cursor: pointer;
    font-size:12px;
    float:right;
}

.create_link:hover{
    background-color: #02518A;
    color: #ffffff;
}

.token_input{
    width: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    text-transform: uppercase;
}

.token_bg{
    background-color: #2158B8;
    color: #FFFFFF;
}

.home_div{
    transition: all 0.3s ease;
}

.home_div:hover{
    background-color: #8D8B8B;
    color: #E6E6E6;
    transition: all 0.3s ease;
    cursor: pointer;
}

.info_meldung{
    border: 0px solid #000;
    background: url("./symbole/meldung.png");
    height: 70px;
    width: 70px;
    cursor: pointer;
}

.info_meldung:hover{
    background: url("./symbole/meldung_hover.png");
}

.meldung_div{
    float:left;
    margin-left: -20px;
}

.meldung_button{
    background-color: #FF9393;
    padding:  10px;
    border-radius: 20px;
}

.meldung_button:hover{
    background-color: #B73333;
    color: #FFFFFF;
    cursor: pointer;
}

.activate_info{
    text-align: center;
    background-color: #FFFFFF;
    border-top: 5px solid #C0C0C0;
    border-bottom: 5px solid #C0C0C0;
    margin-bottom: 20px;
}

.faq_button{
    border: 0px solid #000;
    background: url("./symbole/faq.png");
    position: fixed;
    height: 67px;
    width: 70px;
    cursor: pointer;
    bottom: 0px;
    right: 0px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.faq_button:hover{
    background: url("./symbole/faq_hover.png");
}

.faq_main{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.faq_frage{
    padding: 15px;
    background-color: #C0C0C0;
    border-top: 1px solid #000000;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.faq_antwort{
    padding: 15px;
    background-color: #FFFFFF;
    display: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button_verwaltung{
    background-color: #DBF3F8;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #307E8D;
    transition: all 0.3s ease;
}

.button_verwaltung:hover{
    background-color: #307E8D;
    color: #DBF3F8;
    cursor: pointer;
    transition: all 0.3s ease;
}

.language_auswahl{
    cursor: pointer;
    margin: 10px;
}

.img_filter_grau{
    filter: grayscale(100%);
}
